.navbar {
    background-color: #333;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    position: sticky;
    top: 0;
    z-index: 999;
  }
  
  .navbar-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
    padding: 0 24px;
    margin: 0 auto;
  }
  
  .navbar-logo {
    color: #fff;
    font-size: 22px;
    text-decoration: none;

  }
  
  .menu-icon {
    display: none;
    color: #fff;
    font-size: 24px;
    cursor: pointer;
    top: 10px;
    position: relative;
  }
  
  .nav-menu {
    display: flex;
    align-items: center;
  }
  
  .nav-item {
    list-style: none;
    margin-right: 24px;
  }
  
  .nav-links {
    color: #fff;
    text-decoration: none;
  }
  
  @media screen and (max-width: 768px) {
    .menu-icon {
      display: block;
    }
  
    .nav-menu {
      display: flex;
      flex-direction: column;
      position: absolute;
      top: 80px;
      left: 0;
      background-color: #333;
      width: 100%;
      text-align: center;
      opacity: 0;
      pointer-events: none; /* Add this line to disable clicks when hidden */
      transition: opacity 0.3s ease;
    }
  
    .nav-menu.active {
      opacity: 1;
      pointer-events: auto; /* Add this line to enable clicks when visible */
    }
  
    .nav-item {
      margin-right: 0;
      margin-bottom: 24px;
    }
  }
  
  .btn-subscribe {
    background-color: bisque;
    padding: 0.5rem;
    border-radius: 10%;
  }

  .btn-subscribe:hover {
    background-color: aqua;
  }
